/* GLOBAL CSS */
*{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/* END GLOBAL CSS */

.header-logo{
    width: 200px ;
}

/* HEADER CSS*/
.header-details i. .header-details span{
    font-size: 14px;
}
.header-details span{
    border-color: rgba(255, 255,255,0.2) !important;
}
.header__navbar .nav-item{

}
.header__navbar .nav-item .nav-link {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    padding: 18px 7px;
    display: inline-block;
    margin: 0 13px;
    position: relative;
}
.header__navbar .nav-item .nav-link::after{
    content: "";
    display: block;
    height: 2px;
    left: 50%;  
    position: absolute;
    background: linear-gradient(to right,#fbbd61,#ec7532);
    transition: width 0.3s ease-out 0s, left 0.3s ease 0s;
    width: 0;
}
.header__navbar .nav-item .nav-link:hover::after{
    width: 100%;
    left: 0;
}
/* END HEADER CSS*/
/* CAROUSEL CSS*/
.carousel-item__overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to top, black, transparent);
}
.carousel-item__caption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.carousel-item__caption .title{
    color: #fbbd61;
    font-size: 14px;
    letter-spacing: 2px;
}
.carousel-item__caption p{
    font-size: 18px;
    padding-right: 25%;
}
.carousel-item__trailer span{
    width: 40px;
    height: 40px;
    border: 2px solid white;
    line-height: 36px;
}
.btn-orange{
    background: linear-gradient(to right,#fbbd61,#ec7532 );
    ;
    border-radius: 40px;
    font-size:14px;
    letter-spacing: 2px;
    padding:11px 30px;
    cursor: pointer;
}
/* END CAROUSEL CSS*/